<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="GELF" class="de.siegmar.logbackgelf.GelfTcpAppender">
        <graylogHost>192.168.0.15</graylogHost>
        <graylogPort>12201</graylogPort>
    </appender>

    <!-- Use AsyncAppender to prevent slowdowns -->
    <appender name="ASYNC GELF" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="GELF" />
    </appender>

    <appender name="KUBERNETES_GELF" class="de.siegmar.logbackgelf.GelfTcpAppender">
        <!-- Use Graylog kubernetes service name -->
        <graylogHost>graylog</graylogHost>
        <graylogPort>12201</graylogPort>
    </appender>

    <!-- Use AsyncAppender for kubernetes -->
    <appender name="KUB ASYNC GELF" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="KUBERNETES_GELF" />
    </appender>

    <springProfile name="kubernetes">
        <root level="INFO">
            <appender-ref ref="KUB ASYNC GELF" />
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>
    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="ASYNC GELF" />
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

</configuration>